header{
  text-align: center;
  background-color: #212227;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
}

#heading{ color:#F7ECE1;
          font-size: 110%;
          font-family:'Times New Roman', Times, serif
}

#profilePhoto{
   width: 25%;
   height: 25%;
   border-radius: 50%;
   border: 4.5px solid #E28413
}

body{
  font-family:"Arial", Helvetica, sans-serif ;
  font-size:110%;
  background-color: #FFF;
  display:flex;
  flex-direction: column
}

#sidebar{
      background-color:#192A51;
      color: #F7ECE1;
      padding: 1rem
}

h1{
  color: #F7ECE1; 
  font-size: 36px;
} 

footer{
  background-color: #212227;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#Details{
  color:#F7ECE1
}

.navList{
    list-style-type:none;
    padding: 0
}
.icons{
  width: 3rem;
  margin: 0.5rem;
  height: auto
}

.main{
  display:flex;
  flex-direction: row;
  overflow:unset
}
