header  {
  text-align: center;
  background-color: #212227;
        }
#heading{ color:#F7ECE1;
          font-size: 110%;
          font-family:'Times New Roman', Times, serif
        }

#headshot{
  resize: vertical 20%;
  }
body  {
  font-family:"Arial", Helvetica, sans-serif ;
  font-size:110%;
  background-color: #FFF;
      }
#sidebar{
      background-color:#192A51;
      color: #F7ECE1;
      width: 20%
        }
#menu {
      font-size: 30px;
      }

h1 {
  color: #F7ECE1; 
  font-size: 36px;
   }

.icons{
  resize: vertical 10%;
      } 
footer  {
  background-color: #212227;
  text-align: center;
        }

.navList  {
    list-style-type:none;
          }